.attendancebg {
    background: #0c2496;
}
.headertitle{
    font-size: 30px;
}
 .report_searchbtn label{
    font-weight: 700;
    color:#4e73df;
    padding-right: 30px;
    padding-top: 10px;
 }

  .date_report{
    color: #4e73df!important;
    font-weight: 700;
  }
.report_submit{
    border: 2px solid #4e73df;
    border-radius: 10px;
    background-color: #4e73df!important;
    color: #fff;
    padding: 7px 30px;
    margin-left: 20px;
}
.date_report{
  margin:15px;
}
.pagination_top{
  margin-bottom: 30px;
}
.tablelist {
  margin-bottom: 50px;
}
